@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600;1,700&display=swap");

html {
  font-size: 15px;
}

body {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: rgb(41, 41, 41);
  margin: 0;
  background: #efe94b;
  border: 5px solid white;
  border-radius: 8px;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

p {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  margin-top: 0;
}

#tagline {
  color: #631357;
  font-weight: 700;
}
a {
  color: #631357;
}

a:visited {
  color: #74638f;
}
h3 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}
#main {
  margin: 30px 8px;
  padding: 5px;
  border-radius: 5px;
  /* background: #eee; */
}

#img-div {
  height: auto;

  padding: 0;
}

img {
  max-width: 50%;
  border-radius: 5px;
  display: block;
  max-height: 100vh;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 5px;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#img-caption {
  /* text-align: center; */
  margin: 15px 0 5px 0;
  font-size: 1rem;
}

ul {
  list-style: none;
}

#introduction {
  font-size: 1rem;
  margin: 10px 0 50px 0;
  display: inline-block;
  width: 50%;
}

#quote {
  font-size: 1rem;
  font-weight: 500;
}
ul {
  max-width: 550px;
  margin: 0 auto 10px auto;
  text-align: left;
  line-height: 1.6;
  padding: 10px;
}

li {
  margin: 10px 0;
  color: black;
}

footer {
  text-align: center;
  color: black;
}
/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efe94b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
